<div class="homepage">

  <h1>Welcome to Geospatial!</h1>

  <p>Click on the links below to view details:</p>
  <ul>
    <li><%= link_to 'Tickets', tickets_path %></li>
    <li><%= link_to 'Excavators', excavators_path %></li>
  </ul>
</div>
